apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: metallb-system

resources:
- github.com/metallb/metallb/config/native?ref=v0.15.3
- l2advertisement.yaml
- public-pool.yaml
