apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: psuite

resources:
  - ./psuite-deployment.yaml
  - ./psuite-ingress.yaml
  - ./psuite-pvc.yaml
  - ./psuite-service.yaml
  - ./psuite-serviceaccount.yaml
  - ./psuite-backup.yaml

configMapGenerator:
- name: psuite-scripts
  files:
  - init-syncthing.sh
  - backup.sh
